---
layout: default
---

<div id="top">
  <div id="title">
    <h1>The Fast Track to</h1>
    <h2>A quick and dirty overview of</h2>
  </div>
  <img src="julia.png" alt="Julia" height="100">
  <div id="version">
    <h1>1.0</h1>
  </div>
</div>

<div class="github-info">This page's source is
<a href="https://github.com/JuliaDocs/Julia-Cheat-Sheet">located here</a>.
Pull requests are welcome!</div>

<div id="contents">
  <ul>
    <li>
      {% for block in site.data.blocks %}
      <div class="box">
        <div class="title">
          <h1>{{ block.title }}</h1>
        </div>
        {% capture this_block %}{% include en/{{ block.file }} %}{% endcapture %}
        {{ this_block | markdownify }}
      </div>
      {% endfor %}
    </li>
  </ul>
</div>
