<div id="contents">
  <ul>
    <li>
      {% for block in site.data.blocks %}
      <div class="box">
        <div class="title">

          {% if page.lang == "en" %}
          <h1>{{ block.title }}</h1>
          {% elsif block[page.lang] %}
          <h1>{{ block[page.lang] }}</h1>
          {% else %}
          <h1>{{ block.title }} <small>({{ site.t[page.lang].translate }})</small> </h1>
          {% endif %}
        </div>
        {% capture this_block %}{% include {{page.lang}}/{{ block.file }} %}{% endcapture %}
        {{ this_block | markdownify }}
      </div>
      {% endfor %}
    </li>
  </ul>
</div>
