<div class="languages">
  <img class="language" src="{{site.baseurl}}/assets/{{page.lang}}.svg">
  {{site.t[page.lang].name}}
  <div class="others">
    <a href="{{site.baseurl}}/">
    <p class="language-link">
      <img class="language" src="{{site.baseurl}}/assets/en.svg">
      English
    </p>
    </a>
    {% for lang in site.t %}
    {% if lang[0] != "en" %}
    <a href="{{site.baseurl}}/{{lang[0]}}">
    <p class="language-link">
      <img class="language" src="{{site.baseurl}}/assets/{{lang[0]}}.svg">
      {{ lang[1]["name"] }}
    </p>
    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div id="top">
  <div id="title">
    <h1>{{ site.t[page.lang]["fast-track"] }}</h1>
    <h2>{{ site.t[page.lang]["quick-dirty"] }}</h2>
  </div>
  <img src="{{site.baseurl}}/julia.png" alt="Julia" height="100">
  <div id="version">
    <h1>1.0</h1>
  </div>
</div>

<div class="github-info">
  {{ site.t[page.lang]["github-1"] }}
  <a href="https://github.com/JuliaDocs/Julia-Cheat-Sheet">
    {{ site.t[page.lang]["github-2"] }}
  </a>.
  {{ site.t[page.lang]["github-3"] }}
</div>
