<!DOCTYPE html>
<html lang="en">
 <head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <title>The Fast Track to Julia</title>
   <link href="{{ site.baseurl }}/cheatsheet.css" rel="stylesheet" type="text/css">
 </head>

 <body>

   {% include header.html %}

   {{ content }}

   <footer>
     <div>Country flag icons made by
       <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
       from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
       is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
       title="Creative Commons BY 3.0" target="_blank">CC 3.0
       BY.</a></div></a></a></a></div>
   </footer>

 </body>
</html>
